<div class="carpage-wrapper{{#if inList}} in-list{{/if}}">
	<header class="carpage-title">
		<h1 class="carpage-title__caption"><b>{{title}}</b> {{year}}</h1>
		{{#if priceUah}}<h2 class="carpage-title__price">{{priceUah}} грн.</h2>{{/if}}
	</header>
	<div class="carpage">
		<div class="carpage-star">
			<span class="carpage-star__icon"></span>
		</div>
		<div class="carpage-content">
				<div class="carpage-content-details">
					<div class="carpage-slider">
						<div class="carpage-slider-container">
							<div class="carpage-slider-bigimg">
								<img src="" alt="" class="carpage-slider-bigimg__img ">
							</div>
							<a href="#" class="carpage-slider-bigimg-previous">
								<span class="carpage-slider-bigimg-previous__arrow"></span>
							</a>
							<a href="#" class="carpage-slider-bigimg-next">
								<span class="carpage-slider-bigimg-next__arrow"></span>
							</a>
						</div>
						<div class="carpage-slider-carousel">
								<ul class="carpage-slider-carousel-cars">
	                                {{#each photos}}
									<li class="carpage-slider-carousel-cars-item">
										<a href="#" class="carpage-slider-carousel-cars-item-link">
											<img src="{{this}}" alt="car-image" width="100" class="carpage-slider-carousel-cars-item-link__img">
											<div class="carpage-slider-carousel-cars-item-link__dark"></div>
										</a>
									</li>
	                                {{/each}}
								</ul>
							</div>
					</div>
						<section class="carpage-info"><!--
							<p class="carpage-info-paragraph">
								<span class="carpage-info-paragraph__capture">Комфорт:</span>
								Бортовой компьютер, Климат контроль, Кожаный салон, Круиз контроль, Омыватель фар, Парктроник, Подогрев зеркал, Подогрев сидений, Усилитель руля, Эл. стеклоподъемники, Электропакет.
							</p>
							<p class="carpage-info-paragraph">
								<span class="carpage-info-paragraph__capture">Мультимедиа:</span> CD, DVD, MP3, Акустика, Магнитола, Система навигации GPS
							</p>
							<p class="carpage-info-paragraph">
								<span class="carpage-info-paragraph__capture">Прочее:</span> Дерево
							</p>
							<p class="carpage-info-paragraph">
								<span class="carpage-info-paragraph__capture">Безопасность:</span> ABS, ESP, Галогенные фары, Иммобилайзер, Подушка безопасности (Airbag), Серворуль, Сигнализация, Центральный замок
							</p>
							<p class="carpage-info-paragraph">
								<span class="carpage-info-paragraph__capture">Состояние:</span> Гаражное хранение, Не бит, Не крашен, Сервисная книжка
							</p>-->
							<p class="carpage-info-paragraph">
								{{description}}
							</p>
						</section>

				</div>
				<aside class="carpage-content-sidebar">
					<div class="sidebar-characteristic">
						<h3 class="sidebar-characteristic__caption">Технические характеристики</h3>
						<ul class="sidebar-characteristic-list">
							{{#if gearBox}}<li class="sidebar-characteristic-list__item">Коробка передач: {{gearBox}}</li>{{/if}}
                            {{#if drive}}<li class="sidebar-characteristic-list__item">Привод: {{drive}}</li>{{/if}}
                            {{#if door}}<li class="sidebar-characteristic-list__item">Количество дверей: {{door}}</li>{{/if}}
                            {{#if seats}}<li class="sidebar-characteristic-list__item">Количество мест: {{seats}}</li>{{/if}}
                            {{#if color}}<li class="sidebar-characteristic-list__item">Цвет: {{color}}</li>{{/if}}
                            {{#if fuel}}<li class="sidebar-characteristic-list__item">Топливо: {{fuel}}</li>{{/if}}
                            {{#if volume}}<li class="sidebar-characteristic-list__item">Объем двигателя: {{volume}} л</li>{{/if}}
						</ul>
					</div>
					<ul class="sidebar-views">
						<li class="sidebar-views__item">Размещено: {{date}}</li>
						<!--<li class="sidebar-views__item">Всего просмотров: {{q}}</li>-->
						<li class="sidebar-views__item">ID автомобиля: {{carId}}</li>
					</ul>
					<div class="sidebar-phone">
						<span class="sidebar-phone__icon"></span>
						<strong class="sidebar-phone-number">
							<!--+38 <span class="sidebar-phone-number__operatop">(067)</span> 601-78-96-->
                            {{phone}}
						</strong>
					</div>
					<div class="sidebar-seller">
						<strong class="sidebar-seller__name">
							{{author}}
						</strong>
						<span class="sidebar-seller__city">	
							г. {{city}}
						</span>
						<span class="sidebar-seller__add-note">	
							Добавить заметку
						</span>
					</div>
				</aside>
		</div>
	</div>
</div>
<script>
	document.addEventListener('click',function(){

	});
</script>