<section class="item{{#if inList}} in-list{{/if}}" data-car-id="{{carId}}">
	<div class="item-img">
        <a href="/#car/carId/{{carId}}"><img src="{{img}}" alt="car image"></a>
	</div>
	<div class="item-content">
		<header class="item-header">
			<a href="/#car/carId/{{carId}}"><div class="item-header-text">{{title}}</div></a>
			<div class="item-header-like" data-item-id="{{carId}}"></div>
		</header>
		<div class="clearfix">
            {{#if priceUah}}
			<div class="item-price">
				<span class="price">{{priceUsd}} $ / {{priceUah}}</span> грн <span class="cource">по курсу</span>
			</div>
            {{/if}}
			<div class="item-date">
				{{date}}
			</div>
		</div>
		<div class="item-description">
			{{description}}
		</div>
		<div class="item-parameters-row ">
			{{#if race}}
            <div class="item-parameters">
				{{race}} тис. км
			</div>
            {{/if}}
            {{#if fuel}}
                {{#if volume}}
			<div class="item-parameters item-motor">
				{{fuel}}, {{volume}}.
			</div>
                {{/if}}
            {{/if}}
            {{#if gearBox}}
            <div class="item-parameters item-transmission">
				{{gearBox}}
			</div>
            {{/if}}
    </div>
		<div class="clearfix"> 
			<div class="item-tel">{{phone}} / {{city}}</div>
			<div class="item-add-note">Добавить заметку</div>
		</div>


	</div>
</section>