<div class="main">
	<div class="main-wrapper">
		<h1 class="main-caption">Топ объявлений</h1>
		<div class="main-slider">
			<div class="main-arrow">
				<a class="main-arrow-left" href="#">&nbsp;</a>
			</div>
			<div class="main-items">
				<div class="main-big">
					<a class="main-big-link" href="/#car/carId/{{big.autoId}}/type/{{big.type}}">
						<img class="main-big-img" src="{{big.photoBig}}" alt="bigCar" width="460" height="360">
						<div class="main-liner">
							<h2 class="main-liner-name big">
								{{big.marka}} {{big.model}}
							</h2>
							<b class="main-liner-price big">
								{{big.USD}}$
							</b>
						</div>
					</a>	
				</div>
				<div class="main-small">
                    {{#each small}}
					<div class="main-small-container">
						<a class="main-small-link" href="/#car/carId/{{autoId}}/type/{{type}}">
							<img class="main-small-img" src="{{photoBig}}" alt="smallCar" width="220" height="170">
							<div class="main-small-liner">
								<h2 class="main-liner-name">
                                    {{marka}} {{model}}
								</h2>
								<b class="main-liner-price">
									{{USD}}$
								</b>
							</div>
						</a>
					</div>
                    {{/each}}
				</div>
			</div>
			<div class="main-arrow">
				<a   class="main-arrow-right"  href="">&nbsp;</a>
			</div>
		</div>
		<div class="main-content">
			<h1 class="main-caption">
				Как добавить объявление в Список желаний?
			</h1>
			<p class="main-bottom-text">
				Равным образом постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке предложений. Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки форм развития. Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности способствует подготовки и реализации дальнейших направлений развития.
			</p>
			<p class="main-bottom-text">
				Равным образом постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке предложений. Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки форм развития. Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности способствует подготовки и реализации дальнейших направлений развития. Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности способствует подготовки и реализации дальнейших направлений развития.
			</p>
			<p class="main-bottom-text">
				Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности требуют от нас анализа направлений прогрессивного развития. Разнообразный и богатый опыт укрепление и развитие структуры в значительной степени обуславливает создание новых предложений. Равным образом, однако забывать, что сложившаяся структура организации играет важную роль в формировании дальнейших направлений развития.
			</p>
		</div>
	</div>
</div>
