<style>
	body {
		background: url(../img/background.jpg);
		background-attachment: fixed;
		background-size: cover;
	}

	.wraper {
		margin: 50px auto;
		background: #fff;
		width: 1280px;
	}
</style>

<div class="wraper">
	{{{header}}}
	{{{searchPanel}}}
	{{{searchResults}}}
	{{{main}}}
	{{{footer}}}
</div>