<section class="item{{#if inList}} in-list{{/if}}">
	<div class="item-img">
		<img src="{{img}}" alt="car image">
	</div>
	<div class="item-content">
		<header class="item-header">
			<div class="item-header-text">{{title}}</div>
			<div class="item-header-like" data-item-id="{{carId}}"></div>
		</header>
		<div class="clearfix">
			<div class="item-price">
				<span class="price">{{price.usd}} $ / {{price.uah}}</span> грн <span class="cource">по курсу</span>
			</div>
			<div class="item-date">
				{{date}}
			</div>
		</div>
		<div class="item-description">
			{{description}}
		</div>
		<div class="item-parameters-row ">
			<div class="item-parameters">
				{{race}} тис. км
			</div>
			<div class="item-parameters item-motor">
				{{fuel}}, {{volume}}.
			</div>
			<div class="item-parameters item-transmission">
				{{gearBox}}
			</div>
		</div>
		<div class="clearfix"> 
			<div class="item-tel">{{phone}} / {{city}}</div>
			<div class="item-add-note">Добавить заметку</div>
		</div>


	</div>
</section>